h1{
	color:black; margin-left:11px;font-family: sans-serif;padding-top: 10px;
}
.para1{
	color:black;padding: 5px;margin-left: 7px;font-family: sans-serif;
}
#para{
	color: blue;margin-left: 14px;font-family: sans-serif;padding-bottom: 70px;
}
body{
	background-color: #F0F0F0;
}