<button id="request-btn">Click to get response</button>
<div id="response"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
	$(document).ready(funtion(){
		$("#request-btn").click(funtion(){
			$.ajax({
				url:"/blog/test-ajax",
				type:"GET",
				dataType:"json",
				success:funtion(result){
					$("#response").html("The response is <strong>"+JSON.stringify(result)+"</strong>");
					$("#response").append("<br>The value in response object <strong>foo</strong> is <strong>"+result.foo+"</strong>");

				}
			});
		});
	});
</script>